{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'main_page/liter_detail.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="shadowbox">

<p align="center">
<a href="{% url 'books_for_youth' %}">Книги для молодежи<br></a>
<a href="{% url 'children_books' %}">Книги для детей</a>
</p>

{% for i in books %}

<p align="center">Название книги: <br>{{i.name}} <br> цена: {{i.pages}}</p>



{% endfor %}
    </div>
</body>
</html>